<nav [class.collapsed]="collapsed()">
  <ul>
    @for (item of menuItems(); track item.route) {
      @if (item.section) {
        <li class="section-header">
          <div class="divider"></div>
          @if (!collapsed()) {
            <span class="section-label">{{ item.section }}</span>
          }
        </li>
      }
      <li>
        <a [routerLink]="item.route" routerLinkActive="active">
          <mat-icon class="icon">{{ item.icon }}</mat-icon>
          @if (!collapsed()) {
            <span class="label">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </ul>
</nav>
